@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap');

body{
    background-color: rgb(1, 22, 72);
    font-family: 'Montserrat', sans-serif;
        font-family: 'Questrial', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
}
.navlink{
    display: flex;
    list-style: none;
    gap: 2rem;
}
a{
    color: #333;
    text-decoration-line: none;
    font-size: 1rem;
    
}
.butty{
    background-color: rgb(255, 121, 22);
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    font-size: 1rem;
}

.page{
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.call{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.info h1{
    font-size: 60px;
}

.fest{
    font-size: 15px;
}
.leftpage{
    /* display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1px; */
    text-align: left;
   
}
.contact{
    display: flex;
    gap: 7px;
    align-items: center;
}
.phone{
    background-color: white;
    color:blue;
    height: 2rem;
    width: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;

}
.phone i {
    font-size: 1.2rem;
}
.fa-star{
    color: orange;
}